body {
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    padding: 8px;
    margin-bottom: 8px;
}       

.hero 
{
    display: flex;
    background-color: lightblue;
}

.container-2 {
    display: flex;
    padding: 20px;
}

.container-3 {
    display: flex;
    padding: 20px;
}
.container-4 {
    display: flex;
    padding: 20px;
}
.container-5 {
    display: flex;
    padding: 20px;
}

.question {
    display: flex;
    padding: 12px;
    font-family:Georgia;
    font-size: 18px;
    font-weight: 800;
}

.answer {
    display: flex;
    line-height: 2;
}